table 
{
    min-width: 100%;
}

table td 
{
    border: 1px solid silver;
    position: relative;
    color: black;
}

table td.crossed::after 
{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right, transparent calc(50% - 1px), red, transparent calc(50% + 1px));
}

.button 
{
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.blog 
{
    color: black;
    background-color: #e8f0fe;
}

.buttonorg 
{
    background-color: white;
    color: #2b6fa2;
    border: 2px solid #2b6fa2;
}

.buttonorg a 
{
    background: none;
    color: #2b6fa2;
}

.buttonorg:hover a 
{
    color: gainsboro;
}

.buttonorg:hover 
{
    background-color: #2b6fa2;
    color: white;
}



.colo
{
    background-color: #2b6fa2;
    color: gainsboro;
}

.emboss 
{
    color: rgba(0,0,0,.6);
    text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
}

.link-image 
{
    height: 50%;
    width: 50%;
}

.main-content 
{
    margin-left: auto;
    margin-right: auto;
}

.ods 
{
    height: 80px;
}
body
{
    background-color: gainsboro;
}
.overrides .overrides ul 
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00151f;
    padding: 10px 20px;
    width: 250px;
    border: 1px solid rgba(0,0,0,.2);
}

.overrides ul li 
{
    list-style: none;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
}


.overrides ul li:last-child 
{
    border-bottom: none;
}

.overrides ul li label 
{
    font-size: 18px;
    color: #000;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}

.overrides ul li label input 
{
    opacity: 0;
}

.overrides ul li label .check 
{
    position: absolute;
    top: 10px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #000;
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
}

.overrides ul li label .check:before 
{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: #000b10;
    border-radius: 2px;
    transition: 0.5s;
    transform: translateX(185px);
}

.overrides ul li label input:checked ~ .check:before 
{
    background: #adff00;
    box-shadow: 0 0 15px #adff00;
    transform: translateX(0);
}


.plog 
{
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 15px;
}

.plog p
{
    background-color: #2b6fa2;
    color: gainsboro;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}
.plog a
{
    background-color: #2b6fa2;
    color: gainsboro;
    font-size: 20px;
    text-decoration: none;
}
.plog a:hover p
{
    background-color: gainsboro;
    color: #2b6fa2;
    font-size: 20px;
    text-decoration: none;
}

.plog .buttonorg a 
{
    background: none;
    color: #2b6fa2;
}

.plog label
{
    margin-right:20px;
}
.plog input
{
    border-color: #2b6fa2;
    border-radius: 5px;
    /*border: 3px;*/
}

.table-style 
{
    color: black;
    background-color: white;
    width: 100%;
}

.table-style p 
{
    color: black;
    font-size: 1vw;
    background: none;
}

.table-style thead tr 
{
    border-bottom: 2px solid black;
}

.table-style thead tr p 
{
    color: black;
}

.table-style tbody tr 
{
    background-color: #2b6fa2;
    color: black;
    border-bottom: 2px solid black;
}

.table-style tbody tr:hover p 
{
    color: #2b6fa2;
}

.table-style tbody tr:hover 
{
    background-color: gainsboro;
    cursor: pointer;
    color: #2b6fa2;
}




#sidebar {
    position: fixed;
    height: 100vh;
    z-index: 1;
    min-width: 270px;
    max-width: 270px;
    background: #2b6fa2;
    color: indianred;
    margin: 0;
}

@media (max-width: 568px) 
{
    #sidebar 
    {
        display: none;
    }
}

#sidebar.active .logo 
{
    padding: 10px 0;
}

#sidebar.active .footer 
{
    display: none;
}

#sidebar .logo 
{
    display: block;
    color: #fff;
    font-weight: 900;
    padding: 10px 30px;
}


#sidebar.active 
{
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
    
#sidebar.active ul.components li 
{
    font-size: 14px;
}
       
#sidebar.active ul.components li a 
{
    padding: 10px 0;
}

#sidebar.active ul.components li a span 
{
    margin-right: 0;
    display: block;
    font-size: 24px;
}

#sidebar.active .logo 
{
    padding: 10px 0;
}

#sidebar.active .footer 
{
    display: none;
}

#sidebar ul.components 
{
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


#sidebar ul li 
{
    font-size: 16px;
}

#sidebar ul li > ul 
{
    margin-left: 10px;
}

#sidebar ul li > ul li 
{
    font-size: 14px;
}

#sidebar ul li a
{
    padding: 10px 30px;
    display: block;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a span 
{
    margin-right: 15px;
}

#sidebar ul li a:hover 
{
    color: #fff;
}

#sidebar ul li.active > a 
{
    background: transparent;
    color: #fff;
}



