.blog 
{
    color: black;
    background-color: #e8f0fe;
}

.flex-1 
{
    flex: 1;
}

.flex-9 
{
    flex: 9;
}


.link-image 
{
    height: 50%;
    width: 50%;
}

.main-content 
{
    margin-left: auto;
    margin-right: auto;
}

.ods 
{
    height: 80px;
}

.overrides .overrides ul 
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00151f;
    padding: 10px 20px;
    width: 250px;
    border: 1px solid rgba(0,0,0,.2);
}

.overrides ul li 
{
    list-style: none;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
}


.overrides ul li:last-child 
{
    border-bottom: none;
}

.overrides ul li label 
{
    font-size: 18px;
    color: #000;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}

.overrides ul li label input 
{
    opacity: 0;
}

.overrides ul li label .check 
{
    position: absolute;
    top: 10px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #000;
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
}

.overrides ul li label .check:before 
{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: #000b10;
    border-radius: 2px;
    transition: 0.5s;
    transform: translateX(185px);
}

.overrides ul li label input:checked ~ .check:before 
{
    background: #adff00;
    box-shadow: 0 0 15px #adff00;
    transform: translateX(0);
}


.plog 
{
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}

.wrapper 
{
    width: 95%;
}

#sidebar 
{
    position: fixed;
    height: 100vh;
    z-index: 1;
    min-width: 270px;
    max-width: 270px;
    background: #3e64ff;
    color: #fff;
}

@media (max-width: 568px) {
    #sidebar {
        display: none;
    }
}

#sidebar.active .logo 
{
    padding: 10px 0;
}

#sidebar.active .footer 
{
    display: none;
}

#sidebar .logo 
{
    display: block;
    color: #fff;
    font-weight: 900;
    padding: 10px 30px;
}


#sidebar.active 
{
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
    
#sidebar.active ul.components li 
{
    font-size: 14px;
}
       
#sidebar.active ul.components li a 
{
    padding: 10px 0;
}

#sidebar.active ul.components li a span 
{
    margin-right: 0;
    display: block;
    font-size: 24px;
}

#sidebar.active .logo 
{
    padding: 10px 0;
}

#sidebar.active .footer 
{
    display: none;
}

#sidebar ul.components 
{
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


#sidebar ul li 
{
    font-size: 16px;
}

#sidebar ul li > ul 
{
    margin-left: 10px;
}

#sidebar ul li > ul li 
{
    font-size: 14px;
}

#sidebar ul li a
{
    padding: 10px 30px;
    display: block;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a span 
{
    margin-right: 15px;
}



#sidebar ul li a:hover 
{
    color: #fff;
}

#sidebar ul li.active > a 
{
    background: transparent;
    color: #fff;
}

