:root 
{
    --pastalavista: #2b6fa2;
    --pastalavistalight: #3587C6;
    --pastalavistaverylight: #44AEFF;
    --lblight: gainsboro;
    --lbverylight: white;
    --lbdark: black;
}

body 
{
    background-color: var(--lblight);
    overflow-x: hidden;
}

input
{
    border: 2px solid var(--pastalavista);
}

/*===========================================================================*/
/*=============================== BUTTON/BUTTONORG ==========================*/
/*===========================================================================*/

.button 
{
    border: none;
    border-radius: 5px;
    color: var(--lbverylight);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonorg 
{
    background-color: var(--lbverylight);
    color: var(--pastalavista);
    border: 2px solid #2b6fa2;
}
.buttonorg:hover 
{
    background-color: var(--pastalavista);
    color: var(--lbverylight);
}
.buttonorg a 
{
    background: none;
    color: var(--pastalavista);
}


/*===========================================================================*/
/*================================== OVERRIDES ==============================*/
/*===========================================================================*/

.overrides .overrides ul 
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00151f;
    padding: 10px 20px;
    width: 250px;
    border: 1px solid rgba(0,0,0,.2);
}

.overrides ul li 
{
    list-style: none;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.overrides ul li:last-child 
{
    border-bottom: none;
}

.overrides ul li label 
{
    font-size: 18px;
    color: var(--lbdark);
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}

.overrides ul li label input 
{
    opacity: 0;
}

.overrides ul li label .check 
{
    position: absolute;
    top: 10px;
    left: 0;
    width: 20px;
    height: 20px;
    background: var(--lbdark);
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
}

.overrides ul li label .check:before 
{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: var(--lbdark);
    border-radius: 2px;
    transition: 0.5s;
    transform: translateX(600px);
}

.overrides ul li label input:checked ~ .check:before 
{
    background: #adff00;
    box-shadow: 0 0 15px #adff00;
    transform: translateX(0);
}

/*===========================================================================*/
/*===================================== PLOG ================================*/
/*===========================================================================*/

.plog 
{
    margin-left: auto;
    margin-right: auto;
    color: var(--lbdark);
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 15px;
}

.plog p
{
    background-color: var(--pastalavista);
    color: var(--lblight);
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

.plog a 
{
    /* background-color: var(--pastalavista); */
    background-color: white;
    color: #2b6fa2;
    font-size: 20px;
    text-decoration: none;
}

.plog a:hover p
{
    background-color: var(--pastalavistalight);
    font-size: 20px;
    text-decoration: none;
}

.plog .buttonorg a 
{
    background: none;
    color: #2b6fa2;
}

.plog label
{
    margin-right:20px;
}
.plog input
{
    border-color: var(--pastalavista);
    border-radius: 5px;
}
.plog text-danger
{
    color: var(--lbverylight) !important;
}

/*===========================================================================*/
/*===================================== TABLE ===============================*/
/*===========================================================================*/

table 
{
    max-width:100%;
    /*table-layout:fixed;*/
}
table tr
{
    max-width:100%;
}

table td 
{
    border: 1px solid var(--lbdark);
    position: relative;
    color: var(--lbdark);
}

table td.crossed::after 
{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right, transparent calc(50% - 1px), red, transparent calc(50% + 1px));
}

/*===========================================================================*/
/*================================== TABLE-STYLE ============================*/
/*===========================================================================*/

.table-style 
{
    color: var(--lbdark);
    background-color: var(--lbverylight);
    width: 100%;
}

.table-style a 
{
    font-size: 1vw;
}

.table-style p 
{
    color: var(--lbdark);
    font-size: 1vw;
    background: none;
}

.table-style thead tr 
{
    border-bottom: 2px solid black;
}

.table-style thead tr p 
{
    color: var(--lbdark);
}

.table-style tbody tr 
{
    background-color: var(--pastalavista);
    color: var(--lbdark);
    border-bottom: 2px solid black;
}

.table-style tbody tr:hover p 
{
    color: #2b6fa2;
}

.table-style tbody tr:hover 
{
    background-color: var(--lblight) !important;
    cursor: pointer;
    color: var(--pastalavista);
}
.table-style table tbody tr td
{
    padding:0!important;
}
.table-style table tbody tr td p 
{
    color: var(--lbdark);
    padding: 0.6vw;
    margin: 0;
}

/*===========================================================================*/
/*=====================================SIDEBAR===============================*/
/*===========================================================================*/

#sidebar 
{
    position: fixed;
    height: 100vh;
    z-index: 1;
    min-width: 270px;
    max-width: 270px;
    background: #2b6fa2;
    color: red;
    margin: 0;
    left: 0px;
}

#sidebar.active ul li:hover a
{
    background: var(--pastalavistalight);
}

@media (max-width: 568px) 
{
    #sidebar 
    {
        display: none;
    }
}

#sidebar.active .footer 
{
    display: none;
}

#sidebar.active .logo {
    padding: 10px 0;
}

#sidebar .logo 
{
    display: block;
    padding: 10px 30px;
}

#sidebar.active 
{
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    font-size: 14px;
}
       
#sidebar.active ul.components li a 
{
    padding: 10px 0;
}

#sidebar.active ul.components li a span 
{
    margin-right: 0;
    display: block;
    font-size: 24px;
}

#sidebar ul.components 
{
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#sidebar ul li 
{
    font-size: 16px;
}

#sidebar ul li > ul 
{
    margin-left: 10px;
}

#sidebar ul li a
{
    padding: 10px 30px;
    display: block;
    color: var(--lbverylight);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a span 
{
    margin-right: 15px;
}

/*===========================================================================*/
/*==================================== SECTION ==============================*/
/*===========================================================================*/

#section 
{
    width: 100%;
}
#section thead tr th
{
    width: 90%;
}
#section tbody tr
{
    background-color: var(--lbverylight);
    cursor: auto;
}
#section button
{
    font-size:1vw;
    padding: 1vw;
}

/*===========================================================================*/
/*==================================== ======= ==============================*/
/*===========================================================================*/

.colo 
{
    background-color: var(--pastalavista);
    color: var(--lblight);
}

.emboss 
{
    color: rgba(0,0,0,.6);
    text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
}

.link-image 
{
    height: 50%;
    width: 50%;
}

.main-content 
{
    margin-left: auto;
    margin-right: auto;
}

.manus 
{
    text-align: center;
    font-size: 1vw;
    margin-top: 1vw;
}

.plvlight:hover 
{
    background: var(--pastalavistalight);
}

#users_length
{
    float:left;
}
#users_filter 
{
    float: right;
}
#users_info
{
    float: left;
}
#users_paginate
{
    float: right;
}