

<h1>
    <a class="logo" asp-area="" asp-controller="Home" asp-action="Index"><img class="link-image" src="~/images/home.svg" /></a>
</h1>
<ul class="list-unstyled components" style="margin:0;">
    <li>
        <a class="btn btn-outline-info" asp-area="" asp-controller="Docs" asp-action="DocSections"><img class="link-image" src="~/images/docs.svg" /><br /> Docs</a>
    </li>
    <li>
        <a class="btn btn-outline-info" asp-area="" asp-controller="Admin" asp-action="UserList"><img class="link-image" src="~/images/userlist.svg" /><br />User List</a>
    </li>
    <li>
        <a class="btn btn-outline-info" asp-area="" asp-controller="Admin" asp-action="SectionList"><img class="link-image" src="~/images/seclist.svg" /><br />Section List</a>
    </li>
</ul>

<partial name="_SidebarLoginPartial" />