<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - plv</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min-slate.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    @if (this.User.IsInRole("Admin"))
    {
        <partial name="_adminNavBar" />
    }
    else
    {
        <partial name="_navBar" />
    }
<div class="wrapper">
    <div class="row">
        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
        {
            <div class="col-md-1 flex-1">
                <nav id="sidebar" class="active">
                    <partial name="_AdminSidebar" />
                </nav>
            </div>
        }
        else if (this.User.Identity.IsAuthenticated && !this.User.IsInRole("Admin"))
        {
            <div class="col-md-1 flex-1">
                <nav id="sidebar" class="active">
                    <partial name="_Sidebar" />
                </nav>
            </div>
        }
        <div class="col-md-8 main-content flex-9">
            <main role="main" class="pb-3  mt-3">
                @RenderBody()
            </main>
        </div>
    </div>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
