@model plv.Models.DocumentInDB
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.FilePath</h4>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/Docs/Download/@Model.Section/@Model.FilePath" class="card-link">Download</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>


