@model IEnumerable<plv.Models.Section>

@{
    ViewData["Title"] = "DocSections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="plog col-md-6">
        <h1 class="display-4 text-center emboss">Sekcje</h1>

        <div class="table-style">
            <table id="sections">
                <thead>
                    <tr>
                        <th>Sekcja</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sect in Model)
                    {
                        if (this.User.IsInRole(sect.Name))
                        {
                            <tr onclick="window.location.href='/Docs/DocsList/@sect.Name'">
                                <td>
                                    <p>@sect.Name</p>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        @if (this.User.IsInRole("Admin"))
        {
            <a href="/Docs/EditHistory/0"><p class="clikp mt-3">Historia edycji</p></a>
            <a href="/Docs/DownloadHistory/all"><p class="clikp mt-3">Historia pobrań</p></a>
        }
    </div>



        @section Scripts
{
            <script>
                $(document).ready(function () {
                    $('#sections').DataTable();
                });
            </script>
        }
