@model IEnumerable<plv.Models.Section>

@{
    ViewData["Title"] = "DocSections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
        <div class="plog">
            <h1>DocSections</h1>

            @foreach (var sect in Model)
            {
                <p><a href="/Docs/DocsList/@sect.Name">@sect.Name</a></p>
            }
        </div>
</div>