@model plv.ViewModels.DocumentListViewModel

@{
    ViewData["Title"] = "DocsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="plog">
        <h1>@Model.CurrentSection</h1>
        @foreach (var doc in Model.Documents)
        {
            <p><a href="/Docs/Details/@doc.Id"> @doc.FilePath</a></p>
        }
        @if (this.User.IsInRole(Model.CurrentSection + "-upload") || this.User.IsInRole("Admin"))
        {
            <a href="/Docs/Create/@Model.CurrentSection">Add document</a>
        }
    </div>
</div>
