@model IEnumerable<plv.Models.Section>

@{
    ViewData["Title"] = "DocSections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="plog col-md-6">
    <h1 class="display-4 text-center emboss">DocSections</h1>

    @foreach (var sect in Model)
    {
        if (this.User.IsInRole(sect.Name))
        {
            <a href="/Docs/DocsList/@sect.Name"><p class="clikp">@sect.Name</p></a>
        }
    }
</div>


@*
    @section Scripts
    {
        <script>
            $(document).ready(function () {
                $('#IdTabeli').DataTable();
            });
        </script>
    }
*@