@model plv.ViewModels.DocumentListViewModel

@{
    ViewData["Title"] = "DocsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6 ml-auto mr-auto">
    <div class="plog">
        <h1 class="display-4 text-center emboss">@Model.CurrentSection</h1>
        @foreach (var doc in Model.Documents)
        {
            <p><a href="/Docs/Details/@doc.Id"> @doc.FilePath</a></p>
        }
        @if (this.User.IsInRole(Model.CurrentSection + "-upload") || this.User.IsInRole("Admin"))
        {
            <a href="/Docs/Create/@Model.CurrentSection"><p class="clikp">Add document</p></a>
        }
    </div>
</div>
