@model plv.ViewModels.DocumentListViewModel

@{
    ViewData["Title"] = "DocsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
        <div class="plog">
            <h1>@Model.CurrentSection</h1>
            @foreach (var doc in Model.Documents)
            {
                <p><a href="/Docs/Details/@doc.Id"> @doc.FilePath</a></p>
            }
        </div>
</div>
