@model plv.ViewModels.DocumentListViewModel

@{
    ViewData["Title"] = "DocsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="plog col-md-6">
        <h1 class="display-4 text-center emboss">@Model.CurrentSection</h1>
        @foreach (var doc in Model.Documents)
        {
            <a href="/Docs/Details/@doc.Id"> <p>@doc.FilePath</p></a>
        }
        @if (this.User.IsInRole(Model.CurrentSection + "-upload") || this.User.IsInRole("Admin"))
        {
            <a href="/Docs/Create/@Model.CurrentSection"><p class="clikp">Add document</p></a>
        }
    </div>