@model IEnumerable<plv.Models.Downloads>

@{
    ViewData["Title"] = "DownloadHistory";
}


<div class="plog col-md-6">
    <h1  class="display-4 text-center emboss">Historia pobrań</h1>
    <div class="table-style">
        <table id="downloads-table">
            <thead>
                <tr>
                    <th>Pobrał</th>
                    <th>Sekcja</th>
                    <th>Plik</th>
                    <th>Czas pobrania</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model)
                {
                    <tr class="rowhist">
                        <th>@log.UserName</th>
                        <th>@log.SectionName</th>
                        <th>@log.FileName</th>
                        <th>@log.DownloadTime</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

    @section Scripts
{
        <script>
            $(document).ready(function () {
                $("#downloads-table").DataTable();
            })
        </script>
    }
