@model plv.ViewModels.ManageRoleViewModel

@{
    ViewData["Title"] = "ManageRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="plog col-md-6">
        <h1 class="display-4 text-center emboss">ManageRoles</h1>

        @foreach (var role in Model.Role)
        {
            <p><a href="/Admin/ManageRole/@role.Id">@role.Name</a></p>
        }
    </div>
