@model plv.ViewModels.SectionListViewModel

@{
    ViewData["Title"] = "SectionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="plog col-md-6">
        <h1 class="display-4 text-center emboss">SectionList</h1>

        @if (Model.SectionList.Count == 0)
        {
            <p>There are no sections created yet.</p>
            <a href="NewSection"><p>Click here to create a new one.</p></a>
        }
        else
        {

            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch">
                <label class="custom-control-label" for="switch">Enable delete</label>
            </div>
            <div class="table-style">
                <table id="section">
                    <thead>
                        <tr>
                            <th scope="col"><p>Name Section</p></th>
                            <th scope="col"><p>Action</p></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var sect in Model.SectionList)
                        {
                            <tr>
                                <td>
                                    <p>
                                        @sect.Name
                                    </p>
                                </td>
                                <td>
                                    <form action="/Admin/DeleteSectionAndSectionRole" method="post">
                                        <input id="Sect_Id" name="Sect.Id" type="hidden" value="@sect.Id">

                                        @Html.AntiForgeryToken()
                                        <button disabled type="submit" class="btn btn-secondary confirm-button">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <br><a href="NewSection"><p>Add new section</p></a>
        }

    </div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#section").DataTable();

            $("#switch").click(function () {
                if ($("#switch").prop("checked") == true) {
                    $(".confirm-button").prop("disabled", false);
                    $(".confirm-button").removeClass("btn-secondary").addClass("btn-danger");
                }
                else {
                    $(".confirm-button").prop("disabled", true);
                    $(".confirm-button").removeClass("btn-danger").addClass("btn-secondary");
                }
            });
        })
    </script>
} 