@model plv.ViewModels.SectionListViewModel

@{
    ViewData["Title"] = "SectionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="plog col-md-6">
        <h1 class="display-4 text-center emboss">SectionList</h1>

        @if (Model.SectionList.Count == 0)
        {
            <p>There are no sections created yet.</p>
            <p>Click <a href="NewSection">here</a> to create a new one.</p>
        }
        else
        {
            <ul class="nav nav-pills flex-column">
                @foreach (var sect in Model.SectionList)
                {

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@sect.Name</a>
                        <div class="dropdown-menu">
                            @using (Html.BeginForm("DeleteSectionAndSectionRole", "Admin"))
                            {
                                <input id="Sect_Id" name="Sect.Id" type="hidden" value="@sect.Id">

                                @Html.AntiForgeryToken()
                                <button type="submit" class="dropdown-item">Delete</button>
                            }
                        </div>
                    </li>

                }
            </ul>
            <br><a href="NewSection"><p>Add new section</p></a>
        }

    </div>