@model IEnumerable<plv.Models.ApplicationUser>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="plog col-md-6">
    <h1 class="display-4 text-center emboss">UserList</h1>
    <div class="tableuser">
        <table>
            <thead>
                <tr>
                    <td scope="col"><p>Name User</p></td>
                    <td scope="col"><p>Email</p></td>
                    <td scope="col"><p>Column heading</p></td>
                </tr>
            </thead>

            <tbody>
                @foreach (var user in Model)
                {
                       
                <tr>
                    
                    <td>
                        <a href="/Admin/ManageUser/@user.Id">
                            <p>
                                <img src="~/images/user.svg" />
                                @user.UserName
                            </p>
                        </a>
                    </td>
                    <td>
                        <a href="/Admin/ManageUser/@user.Id">
                            <p>Column content</p>
                        </a>
                    </td>
                    <td>
                        <a href="/Admin/ManageUser/@user.Id">
                            <p>Column content</p>
                        </a>
                    </td>
                    
                </tr>
                           
                }
            </tbody>
        </table>
    </div>
</div>
