@model IEnumerable<plv.Models.ApplicationUser>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
        <div class="plog">
            <h1>UserList</h1>
            <!-- pola w bazie danych usera-
                Id
                UserName
                NormalizedUserName
                Email
                NormalizedEmail
                EmailConfirmed
                PasswordHash
                SecurityStamp
                ConcurencyStamp
                PhoneNumber
                PhoneNumberConfirmed
                TwoFactorEnabled
                LockoutEnd
                LockoutEnabled
                AccessFailedCount
            -->


            @foreach (var user in Model)
            {
                <p><a href="/Admin/ManageUser/@user.Id">@user.UserName</a></p>
            }

        </div>
</div>