@model IEnumerable<plv.Models.ApplicationUser>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UserList</h1>

@{ foreach(var user in Model)
    {

        <p>@user.UserName</p>
    }

}