@model plv.ViewModels.CurrentUserViewModel

@{
    ViewData["Title"] = "Home Page";
}



    <div class="plog col-md-6">
        <div class="text-center">
            <h1 class="display-4 emboss">Welcome @Model.UserName</h1>
        </div>
    </div>
