
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6 ml-auto mr-auto">
    <div class="plog">
        <h1 class="display-4 text-center emboss">Manage</h1>
    </div>
</div>