@model plv.ViewModels.CurrentUserViewModel

@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="plog col-md-6">
        <h1 class="display-4 text-center emboss">Zarządzaj kontem</h1>
        <p><strong>Email: </strong> @Model.User.Email</p>
        <p><strong>Numer tel.: </strong>@Model.User.PhoneNumber</p>

        <a class="button buttonorg" href="/Account/ChangePhoneNumber">Zmień numer tel.</a>
        <a class="button buttonorg" href="/Account/ChangePassword">Zmień hasło</a>
        
    </div>